.header_znrl_orderform_shipping{
background-image: url("shipping.png");
background-repeat: no-repeat;
background-position: left center;
background-repeat: no-repeat;
margin-left: 15px;
padding: 2px 0 3px 28px;
}